In [1]:
import pandas as pd
import numpy as np

In [2]:
RS_df=pd.read_csv(r"C:\Binjus Ds\ml\movies_metadata.csv")

C:\Users\HP\AppData\Local\Temp\ipykernel_8384\3102837244.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  RS_df=pd.read_csv(r"C:\Binjus Ds\ml\movies_metadata.csv")

In [3]:
RS_df

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [4]:
RS_df.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [5]:
RS_df.shape

(45466, 24)

- we will find a score which is the weighted rating formula as a matric for sorting done by the recomendation system
- WR=(v/(v+m) * R) + (m/(m+v) * C)

In [60]:
m= RS_df["vote_count"].quantile(0.30)
m= RS_df["vote_count"].quantile(0.30)
m

4.0

In [61]:
C=RS_df["vote_average"].mean()

In [62]:
C

5.618207215134185

- we are considering movies with time duration in the range of 45-300 minutes
- vote count should be>= to m to be in list

In [63]:
RS_df1=RS_df[(RS_df["runtime"]>=45) & (RS_df["runtime"]<=300)]

RS_df1=RS_df1[RS_df1["vote_count"]>=m]

In [64]:
RS_df1["original_language"].unique()

array(['en', 'fr', 'zh', 'it', 'fa', 'nl', 'de', 'cn', 'ru', 'es', 'sv',
       'ja', 'ko', 'sr', 'bn', 'wo', 'ro', 'vi', 'cs', 'da', 'no', 'pt',
       'nb', 'pl', 'el', 'sh', 'xx', 'bo', 'ca', 'fi', 'th', 'sk', 'hu',
       'bs', 'hi', 'tr', 'he', 'is', 'ps', 'ab', 'eo', 'ka', 'ar', 'mn',
       'bm', 'zu', 'uk', 'af', 'la', 'et', 'ku', 'lv', 'ta', 'tl', 'ur',
       'rw', 'bg', 'sl', 'id', 'mr', 'lt', 'kk', 'sq', 'te', nan, 'ml',
       'hr', 'lo', 'mk', 'kn', 'am', 'ne', 'pa', 'gl', 'ky', 'eu', 'iu',
       'si', 'ms'], dtype=object)

- To sort malayalam movies only on the basis of score

In [65]:
RS_df2=RS_df1[RS_df1["original_language"]=="ml"]

In [66]:
RS_df2

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
22148,False,NaN,110000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 10402, ...",NaN,180048,tt2786278,ml,ആമേൻ,"Solomon, who belongs to a band, is in love wit...",...,2013-03-21,270000.0,165.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,What we play is life,Amen,False,6.9,6.0
25761,False,NaN,750000,"[{'id': 80, 'name': 'Crime'}, {'id': 53, 'name...",http://aashirvadcinemas.com/view_details.php?m...,244049,tt3417422,ml,ദൃശ്യം,Georgekutty lives a happy life with his wife a...,...,2013-12-19,12000000.0,160.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,Visuals can be deceiving,Drishyam,False,8.1,23.0
32016,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,207649,tt0202055,ml,വാനപ്രസ്ഥം,"Kunhikuttan, a famous Kathakali dancer, meets ...",...,1999-05-13,0.0,119.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Vanaprastham,False,7.2,6.0
32206,False,NaN,0,"[{'id': 80, 'name': 'Crime'}, {'id': 53, 'name...",https://www.facebook.com/MemoriesMalayalamMovie,217389,tt3124456,ml,മെമ്മറീസ്,"Prithviraj is a police officer named Sam Alex,...",...,2013-08-08,0.0,132.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,An Episode in the Life of a Police Officer...!,Memories,False,7.2,9.0
32207,False,NaN,0,"[{'id': 80, 'name': 'Crime'}, {'id': 9648, 'na...",NaN,190945,tt2924472,ml,മുംബൈ പോലീസ്,Mumbai Police tells the friendship of 3 police...,...,2013-05-02,0.0,145.0,"[{'iso_639_1': 'ml', 'name': ''}, {'iso_639_1'...",Released,NaN,Mumbai Police,False,7.4,10.0
33163,False,NaN,7400000,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",NaN,268660,tt3668162,ml,ബാംഗ്ലൂർ ഡെയ്സ്,A fun roller coaster ride about three young pe...,...,2014-05-30,1300000.0,172.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Three cousins set out to fulfill their Bangalo...,Bangalore Days,False,7.4,19.0
33164,False,NaN,220000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,257160,tt3517192,ml,ഓം ശാന്തി ഓശാന,"Pooja Mathew (Nazriya Nazim), daughter of Doct...",...,2014-02-07,1500000.0,130.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Ohm Shanthi Oshaana,False,6.9,8.0
33292,False,NaN,18000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,134474,tt0353496,ml,ഗോഡ്ഫാദർ,"The story of Anjooran (N. N. Pillai), and his ...",...,1991-03-03,700000.0,150.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Godfather,False,6.9,4.0
34216,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,278393,tt4176604,ml,വർഷം,"The film narrates the tale of Venu, owner of a...",...,2014-11-06,0.0,140.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Varsham,False,6.7,6.0
34217,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,134477,tt0353975,ml,സന്ദേശം,"After his retirement, Raghavan Nair (Thilakan)...",...,1991-02-04,0.0,137.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,The message,Sandesham,False,8.8,5.0
34640,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 27, 'na...",NaN,84368,tt0214915,ml,മണിച്ചിത്രത്താഴ്,"A young couple, Ganga (Shobana) and Nakulan (S...",...,1993-12-25,0.0,169.0,"[{'iso_639_1': 'ta', 'name': 'தமிழ்'}, {'iso_6...",Released,The Ornate Lock,Manichitrathazhu,False,7.4,9.0
34641,False,"{'id': 415699, 'name': 'Devasuram Collection',...",0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,237672,tt0291855,ml,ദേവാസുരം,"Neelakantan, heir to his father's fortunes, is...",...,1993-04-14,0.0,160.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Devasuram,False,6.4,8.0
34956,False,NaN,6200000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,341895,tt4679210,ml,പ്രേമം,"Three stages in George's life, and three girls...",...,2015-05-29,11000000.0,165.0,"[{'iso_639_1': 'ml', 'name': ''}, {'iso_639_1'...",Released,Love,Premam,False,6.4,13.0
35124,False,NaN,1050255,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,338930,tt4881242,ml,ലോഹം,2015 Malayalam thriller film written and direc...,...,2015-08-20,2250547.0,129.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,The Yellow Metal,Loham,False,4.4,5.0
35125,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",NaN,332827,tt4553712,ml,എന്നും എപ്പോഴും,"Vineeth, a senior reporter, tries to interview...",...,2015-03-27,0.0,147.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Ennum Eppozhum,False,5.3,5.0
35126,False,NaN,598500,"[{'id': 18, 'name': 'Drama'}]",NaN,120149,tt2175672,ml,സ്പിരിറ്റ്,Raghunandan (Mohanlal) is a TV show host and a...,...,2012-06-14,0.0,145.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Spirit,False,6.3,9.0
35153,False,NaN,0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,179375,tt2773898,ml,റെഡ്‌ വൈൻ,An investigatory story that centers around an ...,...,2013-03-22,0.0,146.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Red Wine,False,4.6,5.0
35270,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}]",NaN,178314,tt2522328,ml,ഷട്ടര്‍,Rasheed (Lal) is a Malayali non-resident India...,...,2013-02-22,0.0,134.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Shutter,False,7.7,6.0
39501,False,NaN,1900000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",https://www.facebook.com/CharlieMovieOfficial,372297,tt5082014,ml,ചാര്‍ലി,"A young, nonconforming woman named Tessa gets ...",...,2015-12-24,5900000.0,130.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}, {'iso_...",Released,NaN,Charlie,False,7.4,10.0
39813,False,NaN,120000,"[{'id': 9648, 'name': 'Mystery'}, {'id': 53, '...",NaN,105506,tt2345561,ml,ഗ്രാന്‍റ്മാസ്റ്റര്‍,Chandrashekhar lives alone in a dark and viole...,...,2012-05-03,130000.0,130.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,Anything can happen before the next move,Grandmaster,False,6.1,10.0
40323,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",https://www.facebook.com/MaheshintePrathikaara...,381691,tt4851630,ml,മഹേഷിന്‍റെ പ്രതികാരം,"Mahesh, a studio photographer and owner of the...",...,2016-02-05,230000.0,121.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Maheshinte Prathikaaram,False,7.7,9.0
40354,False,"{'id': 415695, 'name': 'Nadodikkattu Collectio...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,152625,tt0254942,ml,അക്കരെയക്കരെയക്കരെ,After Nadodikkattu (1987) and Pattana Pravesha...,...,1990-01-01,0.0,150.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,An American Mission of Mohanlal & Sreenivasan,Akkare Akkare Akkare,False,7.3,4.0
40355,False,NaN,0,"[{'id': 12, 'name': 'Adventure'}, {'id': 35, '...",NaN,210737,tt0290937,ml,യോദ്ധാ,Ashokan (Mohanlal) goes on a trip to Nepal to ...,...,1992-09-02,0.0,129.0,"[{'iso_639_1': 'ml', 'name': ''}, {'iso_639_1'...",Released,NaN,Yodha,False,8.3,5.0
41516,False,NaN,450000,"[{'id': 12, 'name': 'Adventure'}, {'id': 35, '...",NaN,422603,tt5998104,ml,ആനന്ദം,Aanandam is a 2016 Indian Malayalam campus mus...,...,2016-10-21,2300000.0,134.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Aanandam,False,6.4,7.0
41517,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,402217,tt5528278,ml,ഹാപ്പി വെഡ്‌ഡിങ്,The story of an engineering graduate (Wilson) ...,...,2016-05-20,0.0,128.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Happy Wedding,False,4.7,5.0
41518,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",NaN,411279,tt5436168,ml,പ്രേതം,Three happy-go-lucky friends run a coastal res...,...,2016-08-12,0.0,127.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,How? Why? What did you gain?,Pretham,False,5.7,7.0
41519,False,NaN,600000,"[{'id': 18, 'name': 'Drama'}]",http://www.guppy.in/,411054,tt5889462,ml,ഗപ്പി,The story revolves around a boy named Guppy(Ma...,...,2016-08-05,0.0,158.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Guppy,False,7.9,4.0
41520,False,NaN,1500000,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,398786,tt5458088,ml,കമ്മട്ടിപ്പാടം,"Krishnan, who has been living away from his fa...",...,2016-05-20,0.0,177.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}, {'iso_...",Released,NaN,Kammatipaadam,False,8.1,9.0
41521,False,NaN,300000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",https://www.facebook.com/Actionherobiju/,381374,tt5320514,ml,ആക്ഷൻ ഹീറോ ബിജു,Biju is an honest policeman who fights the inj...,...,2016-02-04,2500000.0,144.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,A ride with a police officer,Action Hero Biju,False,7.7,6.0
44285,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",NaN,117751,tt2218988,ml,ഉസ്‌താദ്‌ Hotel,Ustad Hotel is a quaint place run by a foodie ...,...,2012-06-29,0.0,150.0,"[{'iso_639_1': 'ta', 'name': 'தமிழ்'}, {'iso_6...",Released,NaN,Ustad Hotel,False,7.2,15.0

In [67]:
#fn to calculate the imdb WR for each movie
def weigh_rating(x,m=m,C=C):
    v=x["vote_count"]
    R=x["vote_average"]
    #compute WR
    return(((v/v+m)*R) + ((m/m+v)*C))

In [68]:
RS_df2["score"]= RS_df2.apply(weigh_rating,axis=1)

C:\Users\HP\AppData\Local\Temp\ipykernel_8384\1806129489.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  RS_df2["score"]= RS_df2.apply(weigh_rating,axis=1)

In [69]:
RS_df2

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,score
22148,False,NaN,110000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 10402, ...",NaN,180048,tt2786278,ml,ആമേൻ,"Solomon, who belongs to a band, is in love wit...",...,270000.0,165.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,What we play is life,Amen,False,6.9,6.0,73.827451
25761,False,NaN,750000,"[{'id': 80, 'name': 'Crime'}, {'id': 53, 'name...",http://aashirvadcinemas.com/view_details.php?m...,244049,tt3417422,ml,ദൃശ്യം,Georgekutty lives a happy life with his wife a...,...,12000000.0,160.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,Visuals can be deceiving,Drishyam,False,8.1,23.0,175.336973
32016,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,207649,tt0202055,ml,വാനപ്രസ്ഥം,"Kunhikuttan, a famous Kathakali dancer, meets ...",...,0.0,119.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Vanaprastham,False,7.2,6.0,75.327451
32206,False,NaN,0,"[{'id': 80, 'name': 'Crime'}, {'id': 53, 'name...",https://www.facebook.com/MemoriesMalayalamMovie,217389,tt3124456,ml,മെമ്മറീസ്,"Prithviraj is a police officer named Sam Alex,...",...,0.0,132.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,An Episode in the Life of a Police Officer...!,Memories,False,7.2,9.0,92.182072
32207,False,NaN,0,"[{'id': 80, 'name': 'Crime'}, {'id': 9648, 'na...",NaN,190945,tt2924472,ml,മുംബൈ പോലീസ്,Mumbai Police tells the friendship of 3 police...,...,0.0,145.0,"[{'iso_639_1': 'ml', 'name': ''}, {'iso_639_1'...",Released,NaN,Mumbai Police,False,7.4,10.0,98.800279
33163,False,NaN,7400000,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",NaN,268660,tt3668162,ml,ബാംഗ്ലൂർ ഡെയ്സ്,A fun roller coaster ride about three young pe...,...,1300000.0,172.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Three cousins set out to fulfill their Bangalo...,Bangalore Days,False,7.4,19.0,149.364144
33164,False,NaN,220000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,257160,tt3517192,ml,ഓം ശാന്തി ഓശാന,"Pooja Mathew (Nazriya Nazim), daughter of Doct...",...,1500000.0,130.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Ohm Shanthi Oshaana,False,6.9,8.0,85.063865
33292,False,NaN,18000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,134474,tt0353496,ml,ഗോഡ്ഫാദർ,"The story of Anjooran (N. N. Pillai), and his ...",...,700000.0,150.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Godfather,False,6.9,4.0,62.591036
34216,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,278393,tt4176604,ml,വർഷം,"The film narrates the tale of Venu, owner of a...",...,0.0,140.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Varsham,False,6.7,6.0,72.827451
34217,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,134477,tt0353975,ml,സന്ദേശം,"After his retirement, Raghavan Nair (Thilakan)...",...,0.0,137.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,The message,Sandesham,False,8.8,5.0,77.709243
34640,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 27, 'na...",NaN,84368,tt0214915,ml,മണിച്ചിത്രത്താഴ്,"A young couple, Ganga (Shobana) and Nakulan (S...",...,0.0,169.0,"[{'iso_639_1': 'ta', 'name': 'தமிழ்'}, {'iso_6...",Released,The Ornate Lock,Manichitrathazhu,False,7.4,9.0,93.182072
34641,False,"{'id': 415699, 'name': 'Devasuram Collection',...",0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,237672,tt0291855,ml,ദേവാസുരം,"Neelakantan, heir to his father's fortunes, is...",...,0.0,160.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Devasuram,False,6.4,8.0,82.563865
34956,False,NaN,6200000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,341895,tt4679210,ml,പ്രേമം,"Three stages in George's life, and three girls...",...,11000000.0,165.0,"[{'iso_639_1': 'ml', 'name': ''}, {'iso_639_1'...",Released,Love,Premam,False,6.4,13.0,110.654901
35124,False,NaN,1050255,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,338930,tt4881242,ml,ലോഹം,2015 Malayalam thriller film written and direc...,...,2250547.0,129.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,The Yellow Metal,Loham,False,4.4,5.0,55.709243
35125,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",NaN,332827,tt4553712,ml,എന്നും എപ്പോഴും,"Vineeth, a senior reporter, tries to interview...",...,0.0,147.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Ennum Eppozhum,False,5.3,5.0,60.209243
35126,False,NaN,598500,"[{'id': 18, 'name': 'Drama'}]",NaN,120149,tt2175672,ml,സ്പിരിറ്റ്,Raghunandan (Mohanlal) is a TV show host and a...,...,0.0,145.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Spirit,False,6.3,9.0,87.682072
35153,False,NaN,0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,179375,tt2773898,ml,റെഡ്‌ വൈൻ,An investigatory story that centers around an ...,...,0.0,146.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Red Wine,False,4.6,5.0,56.709243
35270,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}]",NaN,178314,tt2522328,ml,ഷട്ടര്‍,Rasheed (Lal) is a Malayali non-resident India...,...,0.0,134.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Shutter,False,7.7,6.0,77.827451
39501,False,NaN,1900000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",https://www.facebook.com/CharlieMovieOfficial,372297,tt5082014,ml,ചാര്‍ലി,"A young, nonconforming woman named Tessa gets ...",...,5900000.0,130.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}, {'iso_...",Released,NaN,Charlie,False,7.4,10.0,98.800279
39813,False,NaN,120000,"[{'id': 9648, 'name': 'Mystery'}, {'id': 53, '...",NaN,105506,tt2345561,ml,ഗ്രാന്‍റ്മാസ്റ്റര്‍,Chandrashekhar lives alone in a dark and viole...,...,130000.0,130.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,Anything can happen before the next move,Grandmaster,False,6.1,10.0,92.300279
40323,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",https://www.facebook.com/MaheshintePrathikaara...,381691,tt4851630,ml,മഹേഷിന്‍റെ പ്രതികാരം,"Mahesh, a studio photographer and owner of the...",...,230000.0,121.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Maheshinte Prathikaaram,False,7.7,9.0,94.682072
40354,False,"{'id': 415695, 'name': 'Nadodikkattu Collectio...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,152625,tt0254942,ml,അക്കരെയക്കരെയക്കരെ,After Nadodikkattu (1987) and Pattana Pravesha...,...,0.0,150.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,An American Mission of Mohanlal & Sreenivasan,Akkare Akkare Akkare,False,7.3,4.0,64.591036
40355,False,NaN,0,"[{'id': 12, 'name': 'Adventure'}, {'id': 35, '...",NaN,210737,tt0290937,ml,യോദ്ധാ,Ashokan (Mohanlal) goes on a trip to Nepal to ...,...,0.0,129.0,"[{'iso_639_1': 'ml', 'name': ''}, {'iso_639_1'...",Released,NaN,Yodha,False,8.3,5.0,75.209243
41516,False,NaN,450000,"[{'id': 12, 'name': 'Adventure'}, {'id': 35, '...",NaN,422603,tt5998104,ml,ആനന്ദം,Aanandam is a 2016 Indian Malayalam campus mus...,...,2300000.0,134.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Aanandam,False,6.4,7.0,76.945658
41517,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,402217,tt5528278,ml,ഹാപ്പി വെഡ്‌ഡിങ്,The story of an engineering graduate (Wilson) ...,...,0.0,128.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Happy Wedding,False,4.7,5.0,57.209243
41518,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",NaN,411279,tt5436168,ml,പ്രേതം,Three happy-go-lucky friends run a coastal res...,...,0.0,127.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,How? Why? What did you gain?,Pretham,False,5.7,7.0,73.445658
41519,False,NaN,600000,"[{'id': 18, 'name': 'Drama'}]",http://www.guppy.in/,411054,tt5889462,ml,ഗപ്പി,The story revolves around a boy named Guppy(Ma...,...,0.0,158.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Guppy,False,7.9,4.0,67.591036
41520,False,NaN,1500000,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,398786,tt5458088,ml,കമ്മട്ടിപ്പാടം,"Krishnan, who has been living away from his fa...",...,0.0,177.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}, {'iso_...",Released,NaN,Kammatipaadam,False,8.1,9.0,96.682072
41521,False,NaN,300000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",https://www.facebook.com/Actionherobiju/,381374,tt5320514,ml,ആക്ഷൻ ഹീറോ ബിജു,Biju is an honest policeman who fights the inj...,...,2500000.0,144.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,A ride with a police officer,Action Hero Biju,False,7.7,6.0,77.827451
44285,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",NaN,117751,tt2218988,ml,ഉസ്‌താദ്‌ Hotel,Ustad Hotel is a quaint place run by a foodie ...,...,0.0,150.0,"[{'iso_639_1': 'ta', 'name': 'தமிழ்'}, {'iso_6...",Released,NaN,Ustad Hotel,False,7.2,15.0,125.891315

- sorting

In [70]:
RS_df2.sort_values(by="score", ascending=False, inplace=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_8384\1136827316.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  RS_df2.sort_values(by="score", ascending=False, inplace=True)

In [80]:
RS_df2[["title","vote_average","original_language","runtime","score"]]

,title,vote_average,original_language,runtime,score
25761,Drishyam,8.1,ml,160.0,175.336973
33163,Bangalore Days,7.4,ml,172.0,149.364144
44285,Ustad Hotel,7.2,ml,150.0,125.891315
34956,Premam,6.4,ml,165.0,110.654901
32207,Mumbai Police,7.4,ml,145.0,98.800279
39501,Charlie,7.4,ml,130.0,98.800279
41520,Kammatipaadam,8.1,ml,177.0,96.682072
40323,Maheshinte Prathikaaram,7.7,ml,121.0,94.682072
34640,Manichitrathazhu,7.4,ml,169.0,93.182072
39813,Grandmaster,6.1,ml,130.0,92.300279
32206,Memories,7.2,ml,132.0,92.182072
35126,Spirit,6.3,ml,145.0,87.682072
33164,Ohm Shanthi Oshaana,6.9,ml,130.0,85.063865
34641,Devasuram,6.4,ml,160.0,82.563865
41521,Action Hero Biju,7.7,ml,144.0,77.827451
35270,Shutter,7.7,ml,134.0,77.827451
34217,Sandesham,8.8,ml,137.0,77.709243
41516,Aanandam,6.4,ml,134.0,76.945658
32016,Vanaprastham,7.2,ml,119.0,75.327451
40355,Yodha,8.3,ml,129.0,75.209243
22148,Amen,6.9,ml,165.0,73.827451
41518,Pretham,5.7,ml,127.0,73.445658
34216,Varsham,6.7,ml,140.0,72.827451
41519,Guppy,7.9,ml,158.0,67.591036
40354,Akkare Akkare Akkare,7.3,ml,150.0,64.591036
33292,Godfather,6.9,ml,150.0,62.591036
35125,Ennum Eppozhum,5.3,ml,147.0,60.209243
41517,Happy Wedding,4.7,ml,128.0,57.209243
35153,Red Wine,4.6,ml,146.0,56.709243
35124,Loham,4.4,ml,129.0,55.709243

- to sort tamil movies by score

In [74]:
RS_df3=RS_df1[RS_df1["original_language"]=="ta"]

In [75]:
RS_df3["score"]= RS_df3.apply(weigh_rating,axis=1)

C:\Users\HP\AppData\Local\Temp\ipykernel_8384\1799933282.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  RS_df3["score"]= RS_df3.apply(weigh_rating,axis=1)

In [76]:
RS_df3.sort_values(by="score", ascending=False, inplace=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_8384\790506698.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  RS_df3.sort_values(by="score", ascending=False, inplace=True)

In [78]:
RS_df3[["title","vote_average","original_language","runtime","score"]]

                    title  vote_average original_language  runtime       score
17878            Enthiran           6.5                ta    155.0  296.555739
33864                   I           6.8                ta    170.0  191.309802
45250    Sivaji: The Boss           6.9                ta    185.0  180.573388
30643        Vishwaroopam           5.5                ta    147.0  173.573388
43199                  24           7.1                ta    164.0  164.718766
...                   ...           ...               ...      ...         ...
32322  7/G Rainbow Colony           6.0                ta    185.0   63.709243
38526               Saamy           5.8                ta    140.0   62.709243
30056   Vazhakku Enn 18/9           6.5                ta    115.0   60.591036
38271              Dheena           5.3                ta    157.0   60.209243
37635          Sethupathi           5.8                ta    121.0   57.091036

[71 rows x 5 columns]